body {
    background-color: rgb(31, 167, 171);
}

.tituloconjunto {
    text-align: center;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    align-items: center;
  }
  .card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
  }
  .card h1 {
    font-size: 1.2rem;
  }