body {
    background-color: rgb(31, 167, 171);
}

a {
    font-size: 24px;
  
   color: black;
}

.escrita {
    font-size: 24px;
    
}

.senacfoto {
    height: 100px;
    width: 100px;
 
  
   
}

